@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", sans-serif;
    }
}

@layer components {
    .brand {
        @apply font-bold text-xl;
        text-transform: capitalize;
    }

    .brand:first-letter {
        @apply text-4xl text-red-600 italic;
        font-family: "Protest Revolution", sans-serif;
        margin-right: 0.25rem;
    }

    @keyframes confetti-fall {
        0% {
            top: -10%;
        }
        100% {
            top: 100%;
        }
    }

    .confetti {
        animation: confetti-fall linear forwards;
    }
}